@model IEnumerable<WebM.Models.Disease>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentProcedure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredDrugs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentProcedure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredDrugs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DiseaseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DiseaseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DiseaseId })
        </td>
    </tr>
}

</table>
